IT Support Helpdesk/API/bin/
IT Support Helpdesk/API/obj/
IT Support Helpdesk/Web/bin/
IT Support Helpdesk/Web/obj/
IT Support Helpdesk/API/Migrations/
.vs/
.git/
.vs/IT Support Helpdesk/DesignTimeBuild/.dtbcache.v2
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
API/obj/project.assets.json
API/obj/project.nuget.cache
Web/obj/Debug/netcoreapp3.1/Web.assets.cache
Web/obj/Debug/netcoreapp3.1/Web.csproj.AssemblyReference.cache
Web/obj/Debug/netcoreapp3.1/Web.csprojAssemblyReference.cache
Web/obj/project.assets.json
Web/obj/project.nuget.cache
Web/obj/Web.csproj.nuget.dgspec.json
Web/obj/Web.csproj.nuget.g.props
API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
Web/obj/Debug/netcoreapp3.1/Web.csproj.AssemblyReference.cache
API/obj/Debug/netcoreapp3.1/API.assets.cache
Web/obj/Debug/netcoreapp3.1/apphost.exe
Web/obj/Debug/netcoreapp3.1/Web.assets.cache
API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
API/obj/Debug/netcoreapp3.1/API.AssemblyInfo.cs
API/obj/Debug/netcoreapp3.1/API.AssemblyInfoInputs.cache
Web/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Web/obj/Debug/netcoreapp3.1/Web.AssemblyInfo.cs
Web/obj/Debug/netcoreapp3.1/Web.AssemblyInfoInputs.cache
Web/obj/Debug/netcoreapp3.1/Web.RazorAssemblyInfo.cache
Web/obj/Debug/netcoreapp3.1/Web.RazorAssemblyInfo.cs
API/obj/Debug/netcoreapp3.1/API.csprojAssemblyReference.cache
.vs/IT Support Helpdesk/v16/.suo
API/bin/Debug/netcoreapp3.1/API.dll
API/bin/Debug/netcoreapp3.1/API.exe
API/bin/Debug/netcoreapp3.1/API.pdb
API/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
API/obj/Debug/netcoreapp3.1/API.csproj.CoreCompileInputs.cache
API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp3.1/API.csprojAssemblyReference.cache
API/obj/Debug/netcoreapp3.1/API.dll
API/obj/Debug/netcoreapp3.1/API.genruntimeconfig.cache
API/obj/Debug/netcoreapp3.1/API.pdb
API/obj/Debug/netcoreapp3.1/apphost.exe
Web/bin/Debug/netcoreapp3.1/API.dll
Web/bin/Debug/netcoreapp3.1/API.exe
Web/bin/Debug/netcoreapp3.1/API.pdb
Web/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
Web/bin/Debug/netcoreapp3.1/Web.dll
Web/bin/Debug/netcoreapp3.1/Web.exe
Web/bin/Debug/netcoreapp3.1/Web.pdb
Web/bin/Debug/netcoreapp3.1/Web.runtimeconfig.dev.json
Web/bin/Debug/netcoreapp3.1/Web.Views.dll
Web/bin/Debug/netcoreapp3.1/Web.Views.pdb
Web/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Web/obj/Debug/netcoreapp3.1/Razor/Views/Panel/_PanelLayout.cshtml.g.cs
Web/obj/Debug/netcoreapp3.1/Razor/Views/Panel/Cases.cshtml.g.cs
Web/obj/Debug/netcoreapp3.1/Razor/Views/Panel/Categories.cshtml.g.cs
Web/obj/Debug/netcoreapp3.1/Razor/Views/Panel/Priorities.cshtml.g.cs
Web/obj/Debug/netcoreapp3.1/Razor/Views/Panel/Roles.cshtml.g.cs
Web/obj/Debug/netcoreapp3.1/Razor/Views/Panel/StatusCodes.cshtml.g.cs
Web/obj/Debug/netcoreapp3.1/Razor/Views/Register/Index.cshtml.g.cs
Web/obj/Debug/netcoreapp3.1/Web.csproj.CoreCompileInputs.cache
Web/obj/Debug/netcoreapp3.1/Web.csproj.FileListAbsolute.txt
Web/obj/Debug/netcoreapp3.1/Web.dll
Web/obj/Debug/netcoreapp3.1/Web.genruntimeconfig.cache
Web/obj/Debug/netcoreapp3.1/Web.pdb
Web/obj/Debug/netcoreapp3.1/Web.Views.dll
Web/obj/Debug/netcoreapp3.1/Web.Views.pdb
