@{
    ViewData["Title"] = "List Users";
    Layout = "_PanelLayout";
}

<h1>Profiles</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Create</button>
<br />
<table id="tableProfiles" class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>NIK</th>
            <th>Nama Lengkap</th>
            <th>Telepon</th>
            <th>Tanggal Lahir</th>
            <th>Gaji</th>
            <th>Email</th>
            <th>Degree</th>
            <th>GPA</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
<!-- Modal -->
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create Profile</h5>
                <button type="button" class="btn-close" id="closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formCreate" action="javascript:insertProfile()">
                <div class="modal-body">
                    <div class="row g-3 align-items-center">
                        <div class="form-group col-md-6">
                            <label for="inputFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstNameHelp" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="inputLastName" aria-describedby="lastNameHelp" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" aria-describedby="emailHelp" required>
                            <div id="emailHelp" class="form-text"></div>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col">
                            <label for="inputPhone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="inputPhone" aria-describedby="phoneHelp" required>
                            <div id="phoneHelp" class="form-text"></div>
                        </div>
                        <div class="col">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" minlength="8" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col">
                            <label for="inputBirthDate" class="form-label">BirthDate</label>
                            <input type="date" class="form-control" id="inputBirthDate" aria-describedby="birthDateHelp" required>
                            <div id="birthDateHelp" class="form-text"></div>
                        </div>
                        <div class="col">
                            <label for="inputSalary" class="form-label">Salary</label>
                            <input type="number" class="form-control" id="inputSalary" aria-describedby="salaryHelp" required>
                            <div id="salaryHelp" class="form-text"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="mb-3">
                            <label for="inputUniversity" class="form-label">University</label>
                            <select class="form-select" id="inputUniversity" aria-label="Pilih universitas" required>
                                <option value="1">Universitas Siliwangi</option>
                                <option value="1">Universitas Siliwangi</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col">
                            <label for="inputGPA" class="form-label">GPA</label>
                            <input type="text" class="form-control" id="inputGPA" aria-describedby="gpaHelp" required>
                            <div id="gpaHelp" class="form-text"></div>
                        </div>
                        <div class="col">
                            <label for="inputDegree" class="form-label">Degree</label>
                            <input type="text" class="form-control" id="inputDegree" aria-describedby="degreeHelp" required>
                            <div id="degreeHelp" class="form-text"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="formButton" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Profile</h5>
                <button type="button" class="btn-close" id="closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formCreate" action="javascript:updateProfile()">
                <div class="modal-body">
                    <input type="text" class="form-control" id="inputUpdateNIK" value="" disabled aria-describedby="firstNameHelp" required>

                    <div class="row g-3 align-items-center">
                        <div class="form-group col-md-6 needs-validation">
                            <label for="inputUpdateFirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="inputUpdateFirstName" value="" aria-describedby="firstNameHelp" required>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputUpdateLastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="inputUpdateLastName" aria-describedby="lastNameHelp" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="mb-3">
                            <label for="inputUpdateEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputUpdateEmail" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" aria-describedby="emailHelp" required>
                            <div id="emailHelp" class="form-text"></div>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col">
                            <label for="inputUpdatePhone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="inputUpdatePhone" aria-describedby="phoneHelp" required>
                            <div id="phoneHelp" class="form-text"></div>
                        </div>
                        <div class="col">
                            <label for="inputUpdatePassword" class="form-label">Password</label>
                            <input type="password" minlength="8" class="form-control" id="inputUpdatePassword">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col">
                            <label for="inputUpdateBirthDate" class="form-label">BirthDate</label>
                            <input type="date" class="form-control" id="inputUpdateBirthDate" aria-describedby="birthDateHelp" required>
                            <div id="birthDateHelp" class="form-text"></div>
                        </div>
                        <div class="col">
                            <label for="inputUpdateSalary" class="form-label">Salary</label>
                            <input type="number" class="form-control" id="inputUpdateSalary" aria-describedby="salaryHelp" required>
                            <div id="salaryHelp" class="form-text"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="mb-3">
                            <label for="inputUpdateUniversity" class="form-label">University</label>
                            <select class="form-select" id="inputUpdateUniversity" aria-label="Pilih universitas" required>
                                <option value="1">Universitas Siliwangi</option>
                                <option value="1">Universitas Siliwangi</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col">
                            <label for="inputUpdateGPA" class="form-label">GPA</label>
                            <input type="text" class="form-control" id="inputUpdateGPA" aria-describedby="gpaHelp" required>
                            <div id="gpaHelp" class="form-text"></div>
                        </div>
                        <div class="col">
                            <label for="inputUpdateDegree" class="form-label">Degree</label>
                            <input type="text" class="form-control" id="inputUpdateDegree" aria-describedby="degreeHelp" required>
                            <div id="degreeHelp" class="form-text"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/usersList.js" asp-append-version="true"></script>
}