@{
    ViewData["Title"] = "List Handle Tickets";
    Layout = "_PanelLayout";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tickets</h1>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">Create</button>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Panel/">Panel</a></li>
                        <li class="breadcrumb-item active">Tickets</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Ticket</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tableViewHandleTickets" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Description</th>
                                        <th>StartDateTime</th>
                                        <th>EndDateTime</th>
                                        <th>Review</th>
                                        <th>Level</th>
                                        <th>UserId</th>
                                        <th>PriorityId</th>
                                        <th>CategoryId</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div id="viewConvertationModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cases</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="direct-chat-messages" id="chatMessages">
                    <!-- Message. Default to the left -->
                    <div class="direct-chat-msg">
                        <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-left">Alexander Pierce</span>
                            <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img class="direct-chat-img" src="~/lib/adminlte/img/user1-128x128.jpg" alt="message user image">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            Is this template really for free? That's unbelievable!
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->
                    <!-- Message to the right -->
                    <div class="direct-chat-msg right">
                        <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-right">Sarah Bullock</span>
                            <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img class="direct-chat-img" src="~/lib/adminlte/img/user3-128x128.jpg" alt="message user image">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            You better believe it!
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                </div>
                <form class="needs-validation" novalidate id="formCreateConvertation" action="javascript:createConvertation()">

                    <div class="form-row">
                        <input type="number" class="form-control" id="inputConvertationUserId" value="@ViewBag.UserId" hidden required>
                        <input type="number" class="form-control" id="inputConvertationCaseId" value="" hidden required>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="inputConvertationMessage">Message</label>
                            <textarea class="form-control" id="inputConvertationMessage" placeholder="Message" required></textarea>
                            <div class="invalid-feedback">
                                Please enter right string format.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary">Send</button>
                </form>
            </div>

        </div>
    </div>
</div>
@section scripts {
    <script>
        var userId = '@ViewBag.UserId';
        var roleId = '@ViewBag.RoleId';
        console.log(userId);
    </script>
    <script src="~/js/viewHandleTickets.js" asp-append-version="true"></script>
}