<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Login/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Login/css/style.css">

    <title>Register - IT Support Helpdesk</title>
</head>

<body class="hold-transition login-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Login/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            @RenderBody()

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    <script src="~/Login/js/jquery-3.3.1.min.js"></script>
    <script src="~/Login/js/popper.min.js"></script>
    <script src="~/Login/js/bootstrap.min.js"></script>
    <script src="~/Login/js/main.js"></script>
    <script src="~/js/register.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>-->
<!-- Google Font: Source Sans Pro -->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
<!-- Font Awesome -->
<!--<link rel="stylesheet" href="~/lib/adminlte/plugins/fontawesome-free/css/all.min.css">-->
<!-- icheck bootstrap -->
<!--<link rel="stylesheet" href="~/lib/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">-->
<!-- Theme style -->
<!--<link rel="stylesheet" href="~/lib/adminlte/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    @RenderBody()-->
<!-- jQuery -->
<!--<script src="~/lib/adminlte/plugins/jquery/jquery.min.js"></script>-->
<!-- Bootstrap 4 -->
<!--<script src="~/lib/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- AdminLTE App -->
<!--<script src="~/lib/adminlte/js/adminlte.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>-->
