
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<link href="~/lib/adminlte/plugins/toastr.min.css" rel="stylesheet" />
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="" class="h1"><b>IT Support</b>Helpdesk</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Sign Up</p>

            <form action="/Login/register" method="post">
                    <div class="input-group mb-3">
                    <input type="text" name="Name" class="form-control" placeholder="Name">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" name="Email" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="Password" class="form-control" placeholder="Password">
                    </div>
                    <div class="input-group mb-3">
                        <input type="date" name="BirthDate" class="form-control" placeholder="BirthDate">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="Phone" class="form-control" placeholder="Phone">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="Address" class="form-control" placeholder="Address">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="Department" class="form-control" placeholder="Department">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="Company" class="form-control" placeholder="Company">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="Detail" class="form-control" placeholder="Detail">
                    </div>
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </div>
                        <!-- /.col -->
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.login-box -->
@section scriptLogin{
    <script src="~/js/Login.js" asp-append-version="true"></script>
    <script src="~/lib/adminlte/plugins/toastr.min.js"></script>
}

