@{
    ViewData["Title"] = "Register";
    Layout = "_RegisterLayout";
}



<div class="mb-4">
    <h3>Sign Up</h3>
    <p class="mb-4">IT Support Helpdesk</p>
</div>
<form id="formRegister" action="javascript:register()">
    <div class="form-group last mb-4">
        <label for="inputName">Name</label>
        <input type="text" id="inputName" class="form-control">
    </div>
    <div class="form-group last mb-4">
        <label for="Email">Email</label>
        <input type="email" id="inputEmail" class="form-control">
    </div>
    <div class="form-group last mb-4">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control">
    </div>
    <div class="form-group last mb-4">
        <label for="inputBirthDate">BirthDate</label>
        <input type="date" id="inputBirthDate" class="form-control">
    </div>
    <div class="form-group last mb-4">
        <label for="inputPhone">Phone</label>
        <input type="text" id="inputPhone" class="form-control">
    </div>
    <div class="form-group last mb-4">
        <label for="inputAddress">Address</label>
        <input type="text" id="inputAddress" class="form-control">
    </div>
    <div class="form-group last mb-4">
        <label for="inputDepartment">Department</label>
        <input type="text" id="inputDepartment" class="form-control">
    </div>
    <div class="form-group last mb-4">
        <label for="inputCompany">Company</label>
        <input type="text" id="inputCompany" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary btn-block" id="register" onclick="register()">Register</button>
</form>

<p class="mb-0">
    <a href="/Login/" class="text-center">Have Account? Sign In</a>
</p>


<!--<div class="login-box">-->
<!-- /.login-logo -->
<!--<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a href="" class="h1"><b>IT Support </b>Helpdesk</a>
    </div>
    <div class="card-body">
        <h2>Register</h2>
        <form id="formRegister" action="javascript:register()">
            <div class="input-group mb-4">
                <input type="text" id="inputName" class="form-control" placeholder="Name">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-4">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-4">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-4">
                <input type="date" id="inputBirthDate" class="form-control" placeholder="Birth Date">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-calendar"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-4">
                <input type="text" id="inputPhone" class="form-control" placeholder="Phone">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-phone"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-4">
                <input type="text" id="inputAddress" class="form-control" placeholder="Address">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-home"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-4">
                <input type="text" id="inputDepartment" class="form-control" placeholder="Department">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-building"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-4">
                <input type="text" id="inputCompany" class="form-control" placeholder="Company">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-industry"></span>
                    </div>
                </div>
            </div>
            <div class="row">-->
<!-- /.col -->
<!--<div class="col-4">
    <button type="submit" class="btn btn-primary btn-block" id="register" onclick="register()">Register</button>
</div>-->
<!-- /.col -->
<!--</div>
    </form>
    <p class="mb-0">
        <a href="/Login/" class="text-center">Have Account? Sign In</a>
    </p>
</div>-->
<!-- /.card-body -->
<!--</div>-->
<!-- /.card -->
<!--</div>-->